.wrapper, .wrapperTwo {
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: max(5vh, 50px);
  padding-left: 1%;
  padding-right: 1%;
}

.wrapper {
  justify-content: center;
}

.wrapperTwo {
  justify-content: space-evenly;
}

.container, .containerTwo {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2%;  
}

.container {
  flex-direction: column;
}

.containerTwo {
  flex-direction: row;
}

.h1,.h2,.h3,.h4{
  margin: 0;
  padding: 0; 
}

.h1 {  
  font-Weight: 250;
  font-size: max(6vw, 5rem);
}

.h2 {
  font-Weight: 250;
  font-size: max(4vw, 3rem);
}

.h3 {  
  font-Weight: 250;
  font-size: max(2.5vw, 2.5rem);
}

.h4 {
  font-Weight: 250;
  font-size: max(1.5vw, 1.5rem);
}

.p1 {
  font-Weight: 250;
  font-size: max(1.25vw, 1.25rem);
}

.p2 {
  font-Weight: 250;
  font-size: max(1.0vw, 1.0rem);
}


.dropdownLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: max(5vh, 50px);
  z-index: 1100;
}

.appBarStart,
.appBarEnd {
  height: 100%;
}

.appBarStart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: max(0.5vw, 10px);
}


/* .appBarEnd {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: max(0.5vw, 10px);
}  */

.footer {
  width: 100%;
  height: max(5vh, 50px);
  bottom: 0;
  display: flex;
  flex-direction: row;
  z-index: 900;

}

.footerStart {
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: max(0.5vw, 10px);
}
 
.footerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.footerCenterContent {
  display: flex;
  flex-direction: row;
}

.footerEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  padding-right: max(0.5vw, 10px);
}

.mobileFooterEnd {
  display: none;
}

.menu {
  position: absolute;
  /* background-color: aliceblue; */
  margin-top: 5px;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 600px) {

  .appBarStart { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: max(0.5vw, 10px);
  }
  

  .footer {
    width: 100%;
    height: max(15vh, 150px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 900;
  }
  
  .footerStart, .mobileFooterEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
    min-height: 50px;
  }

  .footerCenter, .footerEnd {
    display: none;
   
  }

  .listMobileHeader {
    display: flex;
    align-items: center;
    width: 100%;
  }


  .letterContainerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: #7f7f7f
  };



}