.wrapper, .wrapperTwo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: max(5vh, 50px);
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
justify-content: center;
}

.wrapperTwo {
  justify-content: space-evenly;
}

.chatContainer {
  width: 600px;  
  border-radius: 0%;
  max-height : 80vh;
  min-height: 500px;   
  display: flex;
  flex-direction: column;
  border-radius: 0;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
  
}


.chatMessage {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 12px;
}


.chatInput {
  margin-top: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
  width: 600px;
  border-radius: 0;
}

.dialog {
  border-radius: 0%;
  margin-top: 40vh;

  width: 400px;
  height: 200px;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  /* padding: 10px; */
}

.dialogHeader {
  text-align: left;
  padding: 10px;
}

.dialogContent {
  text-align: left;
  padding: 10px;
}

.dialogActions {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



.h2 {
  padding: 0;
  margin: 0;
  font-Weight: 300;
}
.h1 {  
  font-size: 3rem;
  
}
.h2 {
  font-size: 2rem;
}

.appBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: max(5vh, 50px);
  z-index: 1100;
}

.appBarStart, .appBarEnd {
  display: flex;
  align-items: center;
  height: 100%;
}

.appBarStart {
  justify-content: flex-start;
  width: 70%;
  padding-left: 10px;
}

.appBarStartMobile {
  display: none;
}

.appBarEnd {
  justify-content: flex-end;
  width: 30%;
  padding-right: 10px;
}

.activeLink {
  background-color: lightgray ;
}

.activeLinkDarkMode {
  background-color: green
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: max(5vh, 50px);
  z-index: 1000;
}

.footerStart, .footerEnd { 
  display: flex;
  align-items: center;
  width: 50%;
}

.footerStart {
  justify-content: flex-start;
  padding-left: 10px;
}

.footerEnd {
  justify-content: flex-end;
  padding-right: 10px;
}
.mobileFooterEnd{
  display: none;
}

@media screen and (max-width: 600px) {
  .wrapper {
  justify-content: flex-start;
  }

  .gridContainer {
    grid-template-columns: 1fr;
  }

  .appBarStart {
   display: none;
  }

  .chatContainer {
    
    width: 100%;  
    border-radius: 0%;
    max-height : 60vh;
    min-height: 375px;    

    overflow-y: auto;
    border-radius: 0,   
  }
  
  .chatInput {
    margin-top: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    width: 100%;  
    border-radius: 0;
  }
  

  .appBarMobileMenu {
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: max(5vh, 50px);
    margin-left: 10px;
    padding: 10px;
    border-radius: 0%;
    z-index: 1050;
    overflow: hidden;
  }

  .appBarStartMobile {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    width: 70%;
    padding-left: 10px;
  }

  .footer {
    width: 100%;
    height: max(15vh, 150px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  
  .footerStart, .mobileFooterEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 50px;
  }

  .footerEnd {
    display: none;
  }
}